    /* Estilo para o corpo da página */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    /* Estilo para a barra de navegação */
    .navbar {
        background-color: #333;
        overflow: hidden;
    }

    .navbar h1 {
        float: left;
        margin: 0;
        padding: 14px 16px;
        font-size: 20px;
        color: #fff;
    }

    .navbar a {
        float: right;
        font-size: 16px;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar a:hover{
        color: yellow;
    } 
    /* Estilo para o conteúdo */
    .content {
        text-align: center;
        padding: 50px;
    }

    .content img {
        max-width: 30%;
        height: auto;
    }

    .content h1 {
        font-size: 36px;
        color: #333;
    }

    .content p {
        
        font-size: 18px;
        color: #555;
    }


    /* Estilo para os fundadores */
    .founders {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .founder {
        text-align: center;
        margin: 20px;
    }

    .founder img {
        border-radius: 50%; /* Torna a imagem circular */
        width: 150px;
        height: 150px;
    }

    .founder h2 {
        font-size: 24px;
        color: #333;
        margin: 10px 0;
    }

    .founder p {
        font-size: 16px;
        color: #555;
    }
    .image {
        float: right; /* Alinha à direita */
        display: flex;
    width: 50%; /* Define a largura da imagem */
    }

    .image img {
        
        max-width: 50%;

    }